.App {
	text-align: center;
}

.jumbotron {
	background-image: url('./background.jpg');
	background-size: cover;

	padding: 20px;
	color: rgb(255, 255, 255);
	font-weight: bolder;
	font-size: 18px;
}

.jumbotron_title {
	font-size: 110px;
}

.jumbobnt {
	border: none;
	background-color: white;
	color: black;
}
